/*********************************
 * Text                          *
 *********************************/

.page-title,
.user p,
.user h2,
.message,
.login p {
    text-align: center;
}

.message {
    height: 20px;
}

/*********************************
 * Game board                    *
 *********************************/

.board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.board td {
    width: 64px;
    height: 64px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.board td.x {
    background-image: url(img/x.png);
}

.board td.o {
    background-image: url(img/o.png);
}

/* Retina graphics :) */
@media
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-devicepixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {

    .board td.x {
        background-image: url(img/x@2x.png);
        background-size: 64px 64px;
    }

    .board td.o {
        background-image: url(img/o@2x.png);
        background-size: 64px 64px;
    }
}

.board tr:last-child td {
    border-bottom: 0;
}

.board tr td:last-child {
    border-right: 0
}

/*********************************
 * Chat box                      *
 *********************************/

.chat dl {
    width: 100%;
    height: 160px;
    margin-bottom: 0;
    border: 1px solid rgb(224, 224, 224);
    border-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
}

.chat dt {
    float: left;
    margin-right: 7px;
}

.chat input {
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
}
